.title {
  composes: title from "./common.module.css";
}
.text {
  composes: text from "./common.module.css";
}

.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: var(--buttonBackgroundColor);
  border-radius: 6px;
  color: white;
  text-align: center;
}
