.title {
  color: var(--titleColor);
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color: var(--textColor);
  text-align: center;
}

.list_item {
  padding: 2px 16px;
  background: var(--white);
  display: block;
  margin: 20px 10px;
  border-left: 8px solid var(--white);
}

.list_item p:first-child {
  margin-bottom: 5px;
}

.list_item p:nth-child(n + 2):nth-last-child(n + 2) {
  margin: 5px 0;
}

.list_item p:last-child {
  margin-top: 5px;
}
